a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #531717;
}

.logo {
  font-size: 1.5rem;
  color: tomato;
  padding-left: 0.5rem;
}
.nav {
  display: flex;
  padding-left: 0;
}

.nav li {
  list-style: none;
  padding: 1rem;
}

.nav li:hover {
  background-color: orange;
  border-radius: 1rem;
}

.btn {
  display: none;
}

.icon {
  color: cadetblue;
  font-size: 1.2rem;
  padding-right: 0.5rem;
  padding-left: 0;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .logo {
    width: 100%;
  }

  .nav {
    flex-direction: column;
    width: 100%;
    align-items: center;
    display: none;
  }

  .nav li {
    width: 100%;
    text-align: center;
  }
  .icon {
    display: none;
  }

  .icon i {
    padding: 0.5rem;
  }

  .btn {
    display: block;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
  }

  .nav.state {
    display: flex;
  }

  .icon.state {
    display: flex;
  }
}
